main{
    display: grid;
    height: 95vh;
    grid-gap: 10px;
    font-family: sans-serif;

    grid-template-columns: 
        /* repeat(12, 1fr); */
        [start]

        repeat(4,
            [col-lg-start] minmax(80px,1fr)
            [col-lg-end col-md-start ] minmax(40px,1fr)
            [col-md-end col-sm-start] minmax(20px,1fr)
        )

        [end]
    ;

}

div{
    font-family: sans-serif;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

div:first-of-type{
    background-color: green;
    color: white;
    grid-column: col-lg-start 1 / col-md-end 2;
}
