main{
    height: 100vh; /*Representa el 100% del viewport height*/
    display: grid;
    grid-gap: 1em;


    /* grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px; */
    grid-template-columns: repeat(4,100px);
    grid-template-rows:  repeat(3,100px);
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}


div:nth-child(10){
    background-color: greenyellow;
    /*
    grid-column-start: 3;   Empieza desde la GRID-LINE #3
    grid-column-end: 5;     Termina en la GRID-LINE #5
    */
    grid-column: 3/-1; /*Se puede usar -1 para señalar hasta la última*/
}

div:nth-child(6){
    background-color: greenyellow;
    
    grid-column: 2/3;
    grid-row: 2/4;
    
}
